# IML - Task 3
The goal of this task is to predict if mutations are active or not.

Mutations are encoded in the form DHGE (sequence of 4 oredered letters) and their activeness is encoded by 0 (inactive) and 1 (active).

A quick analysis of the training data shows that approx. \$ 3 \\% \$ of the mutations are active. (see below)

Analyzing the data (see below) shows that there are 20 different amino acids, there are therefore \$ 20^4 = 160'000 \$ possible mutations. We are given \$ 112'000 \$ to train on, and \$ 48'000 \$ to test on (which gives the score), for a total of \$ 160'000 \$ mutations. Our model will therefore see all of the possible data.

## Loading & analyzing the data
First importing the usual libraries:

In [1]:
import pandas as pd
import numpy as np
from sklearn import *

Loading the data thanks to Pandas, and a quick overview

In [2]:
train_data = pd.read_csv("train.csv")
train_data

       Sequence  Active
0          DKWL       0
1          FCHN       0
2          KDQP       0
3          FNWI       0
4          NKRM       0
...         ...     ...
111995     GSME       0
111996     DLPT       0
111997     SGHC       0
111998     KIGT       0
111999     PGPT       0

[112000 rows x 2 columns]

Splitting them into X and Y components:

In [3]:
train_X = np.array(train_data.loc[: , "Sequence"])
train_Y = np.array(train_data.loc[: , "Active"])

Computing the percentage of active mutations:

In [4]:
train_Y.mean()

0.03761607142857143

So \$ \sim 3\\% \$ of the mutations are active.

This means that we have a very unbalanced classification task!

Let's now load and preview the test data:

In [5]:
test_data = pd.read_csv("test.csv")
test_X = np.array(test_data.loc[: , "Sequence"])
test_data

      Sequence
0         HWFK
1         MWPW
2         ALDV
3         NTLG
4         LHYY
...        ...
47995     NRWM
47996     MMMK
47997     AFNM
47998     CRYI
47999     MKFC

[48000 rows x 1 columns]

Let's see how many amino acids, and which ones, there are (in the combination of train and test data):

In [6]:
amino_acids = set(''.join(np.concatenate((train_X, test_X))));
print(amino_acids)
print(len(amino_acids))

{'T', 'I', 'Y', 'G', 'L', 'C', 'Q', 'W', 'K', 'P', 'E', 'N', 'R', 'M', 'D', 'A', 'H', 'V', 'S', 'F'}
20

## Model considerations
How to represent the data?
* The data consist of a sequence of 4 chars - but their value doesn't really mean anything (A is not more similar to C than to V)
* The order in which they appear might be more more important (for example \_HQI and HQI_ might be very similar because of the HQI sequence, indepently of what come beofre or after)

This suggests one-hot encoding, for example AAMK could be encoded as
[(1, 0, ..., 0), (1, 0, ..., 0), (0, 0, ... , 1 , ... 0), (0, 0, ... , 1 , ... 0) ] 

Then we can either:
* use some supervised dimensionality reduction technique
* feed it to a neural network designed to do some dimentionality reduction (bottleneck?)

### One-hot encoding
Let's use the OneHotEncoder from sklearn to do so.

Documentation : https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html

In [7]:
hot = preprocessing.OneHotEncoder(sparse = False);

For the encoder to work, we need to separate the string into arrays of 4 characters:

In [8]:
X_matrix = [list(mut) for mut in train_X]
X_matrix[1:5] #first few rows

[['F', 'C', 'H', 'N'],
 ['K', 'D', 'Q', 'P'],
 ['F', 'N', 'W', 'I'],
 ['N', 'K', 'R', 'M']]

In [9]:
hot_train_X = hot.fit_transform(X_matrix, train_Y)

In [10]:
hot_train_X.shape

(112000, 80)

Use the same encoder to encode the test data to be used later :

In [11]:
X_test_matrix = [list(mut) for mut in test_X];
hot_test_X = hot.transform(X_test_matrix);
hot_test_X.shape

(48000, 80)

### Neural Network

https://scikit-learn.org/stable/modules/generated/sklearn.neural_network.MLPClassifier.html#sklearn.neural_network.MLPClassifier

In [12]:
NNclf = neural_network.MLPClassifier(verbose=1);

In [13]:
NNclf.fit(hot_train_X, train_Y);

Iteration 1, loss = 0.14409176
Iteration 2, loss = 0.06110186
Iteration 3, loss = 0.05133877
Iteration 4, loss = 0.04376542
Iteration 5, loss = 0.03792876
Iteration 6, loss = 0.03341289
Iteration 7, loss = 0.02993459
Iteration 8, loss = 0.02725370
Iteration 9, loss = 0.02531310
Iteration 10, loss = 0.02366806
Iteration 11, loss = 0.02224966
Iteration 12, loss = 0.02101115
Iteration 13, loss = 0.01993232
Iteration 14, loss = 0.01902639
Iteration 15, loss = 0.01817944
Iteration 16, loss = 0.01742867
Iteration 17, loss = 0.01666030
Iteration 18, loss = 0.01604607
Iteration 19, loss = 0.01532609
Iteration 20, loss = 0.01498834
Iteration 21, loss = 0.01441349
Iteration 22, loss = 0.01376433
Iteration 23, loss = 0.01343032
Iteration 24, loss = 0.01294980
Iteration 25, loss = 0.01258534
Iteration 26, loss = 0.01206816
Iteration 27, loss = 0.01179570
Iteration 28, loss = 0.01138903
Iteration 29, loss = 0.01111106
Iteration 30, loss = 0.01066836
Iteration 31, loss = 0.01036612
Iteration 32, loss = 0.01006071
Iteration 33, loss = 0.00980643
Iteration 34, loss = 0.00945710
Iteration 35, loss = 0.00931961
Iteration 36, loss = 0.00896953
Iteration 37, loss = 0.00872190
Iteration 38, loss = 0.00847277
Iteration 39, loss = 0.00832850
Iteration 40, loss = 0.00798703
Iteration 41, loss = 0.00784100
Iteration 42, loss = 0.00757198
Iteration 43, loss = 0.00751506
Iteration 44, loss = 0.00717855
Iteration 45, loss = 0.00711709
Iteration 46, loss = 0.00683710
Iteration 47, loss = 0.00675089
Iteration 48, loss = 0.00647654
Iteration 49, loss = 0.00627845
Iteration 50, loss = 0.00619330
Iteration 51, loss = 0.00603222
Iteration 52, loss = 0.00592712
Iteration 53, loss = 0.00575194
Iteration 54, loss = 0.00557917
Iteration 55, loss = 0.00544470
Iteration 56, loss = 0.00532858
Iteration 57, loss = 0.00525058
Iteration 58, loss = 0.00502528
Iteration 59, loss = 0.00492217
Iteration 60, loss = 0.00480582
Iteration 61, loss = 0.00470511
Iteration 62, loss = 0.00459368
Iteration 63, loss = 0.00451572
Iteration 64, loss = 0.00432352
Iteration 65, loss = 0.00424571
Iteration 66, loss = 0.00418036
Iteration 67, loss = 0.00406741
Iteration 68, loss = 0.00401073
Iteration 69, loss = 0.00383259
Iteration 70, loss = 0.00382771
Iteration 71, loss = 0.00365673
Iteration 72, loss = 0.00361116
Iteration 73, loss = 0.00355063
Iteration 74, loss = 0.00341158
Iteration 75, loss = 0.00333015
Iteration 76, loss = 0.00326602
Iteration 77, loss = 0.00330414
Iteration 78, loss = 0.00304060
Iteration 79, loss = 0.00307276
Iteration 80, loss = 0.00298908
Iteration 81, loss = 0.00292903
Iteration 82, loss = 0.00287047
Iteration 83, loss = 0.00286897
Iteration 84, loss = 0.00275322
Iteration 85, loss = 0.00277239
Iteration 86, loss = 0.00262508
Iteration 87, loss = 0.00259866
Iteration 88, loss = 0.00260628
Iteration 89, loss = 0.00241471
Iteration 90, loss = 0.00236552
Iteration 91, loss = 0.00244021
Iteration 92, loss = 0.00227820
Iteration 93, loss = 0.00225201
Iteration 94, loss = 0.00222288
Iteration 95, loss = 0.00222267
Iteration 96, loss = 0.00221754
Iteration 97, loss = 0.00213117
Iteration 98, loss = 0.00201954
Iteration 99, loss = 0.00211735
Iteration 100, loss = 0.00200128
Iteration 101, loss = 0.00193228
Iteration 102, loss = 0.00189939
Iteration 103, loss = 0.00189056
Iteration 104, loss = 0.00186965
Iteration 105, loss = 0.00187590
Iteration 106, loss = 0.00181754
Iteration 107, loss = 0.00178278
Iteration 108, loss = 0.00180974
Iteration 109, loss = 0.00169938
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

In [14]:
test_Y = NNclf.predict(hot_test_X)

In [15]:
test_Y

array([0, 0, 0, ..., 0, 0, 1], dtype=int64)

In [16]:
test_Y.mean()

0.03816666666666667

Sanity check : we also get about 3% positiveness in the test data.

## Writing the output

In [17]:
pd.DataFrame(test_Y).to_csv("output.csv", header=None, index=None)