# IML - Task 3
The goal of this task is to predict if mutations are active or not.

Mutations are encoded in the form DHGE (sequence of 4 oredered letters) and their activeness is encoded by 0 (inactive) and 1 (active).

A quick analysis of the training data shows that approx. \$ 3 \\% \$ of the mutations are active. (see below)

Analyzing the data (see below) shows that there are 20 different amino acids, there are therefore \$ 20^4 = 160'000 \$ possible mutations. We are given \$ 112'000 \$ to train on, and \$ 48'000 \$ to test on (which gives the score), for a total of \$ 160'000 \$ mutations. Our model will therefore see all of the possible data.

## Loading & analyzing the data
First importing the usual libraries:

In [1]:
import pandas as pd
import numpy as np
from sklearn import *

Loading the data thanks to Pandas, and a quick overview

In [2]:
train_data = pd.read_csv("train.csv")
train_data

       Sequence  Active
0          DKWL       0
1          FCHN       0
2          KDQP       0
3          FNWI       0
4          NKRM       0
...         ...     ...
111995     GSME       0
111996     DLPT       0
111997     SGHC       0
111998     KIGT       0
111999     PGPT       0

[112000 rows x 2 columns]

Splitting them into X and Y components:

In [3]:
train_X = np.array(train_data.loc[: , "Sequence"])
train_Y = np.array(train_data.loc[: , "Active"])

Computing the percentage of active mutations:

In [4]:
train_Y.mean()

0.03761607142857143

So \$ \sim 3\\% \$ of the mutations are active.

This means that we have a very unbalanced classification task!

Let's now load and preview the test data:

In [5]:
test_data = pd.read_csv("test.csv")
test_X = np.array(test_data.loc[: , "Sequence"])
test_data

      Sequence
0         HWFK
1         MWPW
2         ALDV
3         NTLG
4         LHYY
...        ...
47995     NRWM
47996     MMMK
47997     AFNM
47998     CRYI
47999     MKFC

[48000 rows x 1 columns]

Let's see how many amino acids, and which ones, there are (in the combination of train and test data):

In [27]:
amino_acids = set(''.join(np.concatenate((train_X, test_X))));
print(amino_acids)
print(len(amino_acids))

{'R', 'W', 'E', 'G', 'A', 'T', 'P', 'L', 'D', 'Y', 'M', 'N', 'F', 'V', 'K', 'H', 'Q', 'C', 'I', 'S'}
20

## Model considerations
* How to represent the data?
    * The data consist of a sequence of 4 chars - but their value doesn't really mean anything (A is not more similar to C than to V)
    * The order in which they appear might be more more important (for example \_HQI and HQI_ might be very similar because of the HQI sequence, indepently of what come beofre or after)